---
title: This is my title
layout: post
--- 
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Title Generator for Apps List Articles</title>

    <link rel="stylesheet" href="stylesheets/styles.css?v=1">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
       {% include header.html %}
      <section>
       <h1>Apps Title Generator</h1>
        <textarea id="topic" placeholder="Enter topics separated by new line">English Grammar</textarea>
        <textarea id="target" placeholder="Enter targets separated by new line">Android</textarea>
        <textarea id="result"></textarea>
        <textarea id="singleTitle"></textarea>
        <button id="submit" name="submit">Suggest Titles</button>
      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/fromdev">fromdev</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="javascripts/jquery.selectOnFocus.js"></script>
    <script>
      {% include apptitles.js %}
    </script>
    <script async src="javascripts/titleVariation.js?v=5"></script>
  </body>
</html>
