      <header>
        <h1>Fromdev Static Tools</h1>
        <p>The web based static tools for daily use</p>

        <p class="view"><a href="https://github.com/fromdev/fromdev-static">View the Project on GitHub <small>fromdev/fromdev-static</small></a></p>


        <ul>
          <li><a href="https://github.com/fromdev/fromdev-static/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/fromdev/fromdev-static/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/fromdev/fromdev-static">View On <strong>GitHub</strong></a></li>
        </ul>
        <ul>
          <li><a href="http://fromdev.github.io/fromdev-static/">Visit<strong>HOME</strong></a></li>
          <li><a href="http://fromdev.github.io/fromdev-static/meta.html">Stats <strong>META</strong></a></li>
        </ul>
        
        <h2>Formatting Tools</h2>
        <ul>
          <li><a href="http://fromdev.github.io/fromdev-static/wrap.html">HTML <strong>WRAP</strong></a></li>
          <li><a href="http://fromdev.github.io/fromdev-static/BookReview.html">Review <strong>BOOK</strong></a></li>
          <li><a href="http://fromdev.github.io/fromdev-static/LinkListItem.html">Link<strong>LIST</strong></a></li>
        </ul>
        <h2>SEO Tools</h2>
        <ul>
          <li><a href="http://fromdev.github.io/fromdev-static/BooksTitleGenerator.html">Books <strong>TitleGen</strong></a></li>
          <li><a href="http://fromdev.github.io/fromdev-static/AppsTitleGenerator.html">Apps <strong>TitleGen</strong></a></li>
          <li><a href="http://fromdev.github.io/fromdev-static/ListTitleGenerator.html">List <strong>TitleGen</strong></a></li>

              
        </ul>
      </header>
